### importing necessary libraries

In [1]:
import pandas as pd

###  read csv file

In [4]:
df = pd.read_csv('./pima-indians-diabetes.data.csv')
df

      6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

### add columns to my dataframe

In [5]:
df.columns = ["NumTimesPrg","PlGlcConc","BloodP","SkinThick","TwoHourSerIns","BMI","DiPedFunc","age","HasDiabetes"]
df

,NumTimesPrg,PlGlcConc,BloodP,SkinThick,TwoHourSerIns,BMI,DiPedFunc,age,HasDiabetes
0,1,85,66,29,0,26.6,0.351,31,0
1,8,183,64,0,0,23.3,0.672,32,1
2,1,89,66,23,94,28.1,0.167,21,0
3,0,137,40,35,168,43.1,2.288,33,1
4,5,116,74,0,0,25.6,0.201,30,0
...,...,...,...,...,...,...,...,...,...
762,10,101,76,48,180,32.9,0.171,63,0
763,2,122,70,27,0,36.8,0.340,27,0
764,5,121,72,23,112,26.2,0.245,30,0
765,1,126,60,0,0,30.1,0.349,47,1
766,1,93,70,31,0,30.4,0.315,23,0

In [6]:
df.notnull()

,NumTimesPrg,PlGlcConc,BloodP,SkinThick,TwoHourSerIns,BMI,DiPedFunc,age,HasDiabetes
0,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...
762,True,True,True,True,True,True,True,True,True
763,True,True,True,True,True,True,True,True,True
764,True,True,True,True,True,True,True,True,True
765,True,True,True,True,True,True,True,True,True
766,True,True,True,True,True,True,True,True,True

In [7]:
new_df = df['SkinThick'][df.SkinThick != 0]
new_df

0      29
2      23
3      35
5      32
7      45
       ..
760    31
762    48
763    27
764    23
766    31
Name: SkinThick, Length: 540, dtype: int64

In [8]:
new_df.median()

29.0

### replace SkinThick' null attributes with the median

In [9]:
df['SkinThick'][df.SkinThick==0] = new_df.median()
df

C:\Users\TRIEDENT\AppData\Local\Temp\ipykernel_16172\2126738695.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SkinThick'][df.SkinThick==0] = new_df.median()

,NumTimesPrg,PlGlcConc,BloodP,SkinThick,TwoHourSerIns,BMI,DiPedFunc,age,HasDiabetes
0,1,85,66,29,0,26.6,0.351,31,0
1,8,183,64,29,0,23.3,0.672,32,1
2,1,89,66,23,94,28.1,0.167,21,0
3,0,137,40,35,168,43.1,2.288,33,1
4,5,116,74,29,0,25.6,0.201,30,0
...,...,...,...,...,...,...,...,...,...
762,10,101,76,48,180,32.9,0.171,63,0
763,2,122,70,27,0,36.8,0.340,27,0
764,5,121,72,23,112,26.2,0.245,30,0
765,1,126,60,29,0,30.1,0.349,47,1
766,1,93,70,31,0,30.4,0.315,23,0

### Bring the values of all attributes into an interval [0-1]

In [10]:
# MinMaxScaler: MinMaxScaler() put all numeric values on a scale from 0 to 1.
from sklearn.datasets import fetch_openml
from sklearn.preprocessing import MinMaxScaler
 
# Select numerical columns
num_cols = df.select_dtypes(include=['int64', 'float64', 'int32']).columns
print(num_cols)
 
# Impute missing values
for col in num_cols:
    fill_value = df[col].mean()
    df[col].fillna(fill_value, inplace=True)
# Apply MinMaxScaler
minmax = MinMaxScaler()
df[num_cols] = minmax.fit_transform(df[num_cols])
df[num_cols]

Index(['NumTimesPrg', 'PlGlcConc', 'BloodP', 'SkinThick', 'TwoHourSerIns',
       'BMI', 'DiPedFunc', 'age', 'HasDiabetes'],
      dtype='object')

,NumTimesPrg,PlGlcConc,BloodP,SkinThick,TwoHourSerIns,BMI,DiPedFunc,age,HasDiabetes
0,0.058824,0.427136,0.540984,0.239130,0.000000,0.396423,0.116567,0.166667,0.0
1,0.470588,0.919598,0.524590,0.239130,0.000000,0.347243,0.253629,0.183333,1.0
2,0.058824,0.447236,0.540984,0.173913,0.111111,0.418778,0.038002,0.000000,0.0
3,0.000000,0.688442,0.327869,0.304348,0.198582,0.642325,0.943638,0.200000,1.0
4,0.294118,0.582915,0.606557,0.239130,0.000000,0.381520,0.052519,0.150000,0.0
...,...,...,...,...,...,...,...,...,...
762,0.588235,0.507538,0.622951,0.445652,0.212766,0.490313,0.039710,0.700000,0.0
763,0.117647,0.613065,0.573770,0.217391,0.000000,0.548435,0.111870,0.100000,0.0
764,0.294118,0.608040,0.590164,0.173913,0.132388,0.390462,0.071307,0.150000,0.0
765,0.058824,0.633166,0.491803,0.239130,0.000000,0.448584,0.115713,0.433333,1.0
766,0.058824,0.467337,0.573770,0.260870,0.000000,0.453055,0.101196,0.033333,0.0

### Standardization

In [12]:
from sklearn.preprocessing import StandardScaler
 
ss = StandardScaler()
df[num_cols] = ss.fit_transform(df[num_cols])
df[num_cols].describe()

,NumTimesPrg,PlGlcConc,BloodP,SkinThick,TwoHourSerIns,BMI,DiPedFunc,age,HasDiabetes
count,7.670000e+02,7.670000e+02,7.670000e+02,7.670000e+02,7.670000e+02,7.670000e+02,7.670000e+02,7.670000e+02,7.670000e+02
mean,-1.042191e-17,-5.652439e-16,3.376355e-16,-6.575213e-17,4.979358e-17,-2.168336e-16,3.278560e-17,-5.471503e-17,-2.292820e-16
std,1.000653e+00,1.000653e+00,1.000653e+00,1.000653e+00,1.000653e+00,1.000653e+00,1.000653e+00,1.000653e+00,1.000653e+00
min,-1.140579e+00,-3.781859e+00,-3.570128e+00,-2.514653e+00,-6.935592e-01,-4.057674e+00,-1.188338e+00,-1.040393e+00,-7.307530e-01
25%,-8.437263e-01,-6.840057e-01,-3.669079e-01,-4.665557e-01,-6.935592e-01,-5.949409e-01,-6.887625e-01,-7.849574e-01,-7.307530e-01
50%,-2.500216e-01,-1.207597e-01,1.497405e-01,-1.142283e-02,-4.158006e-01,1.207213e-03,-3.038931e-01,-3.592309e-01,-7.307530e-01
75%,6.405353e-01,5.989436e-01,5.630591e-01,3.299268e-01,4.131355e-01,5.846714e-01,4.628272e-01,6.625124e-01,1.368451e+00
max,3.905911e+00,2.445139e+00,2.732982e+00,7.953402e+00,6.649685e+00,4.453292e+00,5.881185e+00,4.068324e+00,1.368451e+00